<div id="content">
  <img id="img" (load)="updateMaskSize()">

  <div id="mask">
    <!--* showMe -->

    <span class="date" id="date-time"></span> <!--? 24 hour-->
    <span class="date" id="date-day"></span>
    <span class="date" id="date-month"></span>
    <span class="date" id="date-year"></span> <!--? last 2 digits-->

    <button class="item1" id="item1-option1" (click)="updateItem($event)"></button>
    <button class="item1" id="item1-option2" (click)="updateItem($event)"></button>

    <button class="item2" id="item2-option1" (click)="updateItem($event)"></button>
    <button class="item2" id="item2-option2" (click)="updateItem($event)"></button>

    <button class="item3" id="item3-option1" (click)="updateItem($event)"></button>
    <button class="item3" id="item3-option2" (click)="updateItem($event)"></button>

    <button class="item4" id="item4-option1" (click)="updateItem($event)"></button>
    <button class="item4" id="item4-option2" (click)="updateItem($event)"></button>

    <button class="item5" id="item5-option1" (click)="updateItem($event)"></button>
    <button class="item5" id="item5-option2" (click)="updateItem($event)"></button>

    <!--TODO <img> -->
    <!--TODO <img> -->
    <!--TODO <input> -->

    <button class="item6" id="item6-option1" (click)="updateItem($event)"></button>
    <button class="item6" id="item6-option2" (click)="updateItem($event)"></button>

    <button class="item7" id="item7-option1" (click)="updateItem($event)"></button>
    <button class="item7" id="item7-option2" (click)="updateItem($event)"></button>

    <button class="item8" id="item8-option1" (click)="updateItem($event)"></button>
    <button class="item8" id="item8-option2" (click)="updateItem($event)"></button>

    <button class="item9" id="item9-option1" (click)="updateItem($event)"></button>
    <button class="item9" id="item9-option2" (click)="updateItem($event)"></button>

    <button class="item10" id="item10-option1" (click)="updateItem($event)"></button>
    <button class="item10" id="item10-option2" (click)="updateItem($event)"></button>

    <button class="item11" id="item11-option1" (click)="updateItem($event)"></button>
    <button class="item11" id="item11-option2" (click)="updateItem($event)"></button>

    <!--TODO <input> -->

    <button class="item12" id="item12-option1" (click)="updateItem($event)"></button>
    <button class="item12" id="item12-option2" (click)="updateItem($event)"></button>
    <button class="item12" id="item12-option3" (click)="updateItem($event)"></button>

    <button class="item13" id="item13-option1" (click)="updateItem($event)"></button>
    <button class="item13" id="item13-option2" (click)="updateItem($event)"></button>
    <button class="item13" id="item13-option3" (click)="updateItem($event)"></button>

    <button class="item14" id="item14-option1" (click)="updateItem($event)"></button>
    <button class="item14" id="item14-option2" (click)="updateItem($event)"></button>
    <button class="item14" id="item14-option3" (click)="updateItem($event)"></button>

    <button class="item15" id="item15-option1" (click)="updateItem($event)"></button>
    <button class="item15" id="item15-option2" (click)="updateItem($event)"></button>
    <button class="item15" id="item15-option3" (click)="updateItem($event)"></button>

    <button class="item16" id="item16-option1" (click)="updateItem($event)"></button>
    <button class="item16" id="item16-option2" (click)="updateItem($event)"></button>
    <button class="item16" id="item16-option3" (click)="updateItem($event)"></button>

    <button class="item17" id="item17-option1" (click)="updateItem($event)"></button>
    <button class="item17" id="item17-option2" (click)="updateItem($event)"></button>
    <button class="item17" id="item17-option3" (click)="updateItem($event)"></button>

    <!--TODO <img> -->
    <!--TODO <img> -->
    <!--TODO <img> -->

    <!--TODO <canvas></canvas> -->
  </div>
</div>
