<div id="content">
  <img id="img" (load)="updateMaskSize()">

  <div id="mask">
    <!--? showMe -->
    <button class="item1" id="item1-option1" (click)="updateItem($event)"></button>
    <button class="item1" id="item1-option2" (click)="updateItem($event)"></button>

    <button class="item2" id="item2-option1" (click)="updateItem($event)"></button>
    <button class="item2" id="item2-option2" (click)="updateItem($event)"></button>

    <button class="item3" id="item3-option1" (click)="updateItem($event)"></button>
    <button class="item3" id="item3-option2" (click)="updateItem($event)"></button>

    <button class="item4" id="item4-option1" (click)="updateItem($event)"></button>
    <button class="item4" id="item4-option2" (click)="updateItem($event)"></button>

    <button class="item5" id="item5-option1" (click)="updateItem($event)"></button>
    <button class="item5" id="item5-option2" (click)="updateItem($event)"></button>
  </div>
</div>
